# üêº Pandas for cleaning collections metadata 
TODO what we'll cover

In [21]:
import requests

In [111]:
# why not excel

In [112]:
## Why excel

In [ ]:
# TODO add downloads

In [22]:
url = 'https://bl.oar.bl.uk/fail_uploads/download_file?fileset_id=67b25f41-a682-4c1f-bf42-550e06b48244'
r = requests.get(url)
r

# Saving

In [19]:
with open('title_list.zip', 'wb') as f:
    f.write(r.content)

# How to unzip?

We now have a zip file. How could we unzip this? We could look for a python library for doing this. An alternative option we have in a notebook environment is to use bash commands. We can run these by using ```!``` in front of the bash command. Sometimes there is a tool in bash which makes something very quick and we may want to just this.

In [ ]:
!ls

In [ ]:
# Unzip

In [ ]:
!unzip title_list.zip

We can use ```head``` to preview our data

In [ ]:
!head -n 5 BritishAndIrishNewspapersTitleList_20191118.csv

# Opening our CSV in Python

In [37]:
csv = 'BritishAndIrishNewspapersTitleList_20191118.csv'

In [31]:
open(csv).read()[:300]

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xba in position 3189: invalid start byte

Whoops! Let's try a different encoding

In [32]:
open(csv, encoding="latin-1").read()[:300]

'title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,coverage_city,first_geographical_subject_heading,subsequent_geographical_subject_headings,first_date_held,last_date_held,publication_date_one,publication'

In [ ]:
# Opening our CSV in pandas

In [34]:
import pandas as pd

In [ ]:
TODO

In [119]:
df = pd.read_csv(csv)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xba in position 316: invalid start byte

In [38]:
df = pd.read_csv(csv, encoding='latin-1')

What is a dataframe?

In [36]:
df

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
0,2824188,NaN,NaN,"Corante, or, Newes from Italy and Germanie (It...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Broer Ianson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
1,2824189,NaN,NaN,"Corante, or, Newes from Italy, Germanie, Hunga...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Broer Ionson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
2,2834274,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,The Hague,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Adrian Clarke,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
3,2841953,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,London,England,NaN,...,1621,1621.0,1621.0,NaN,N. B|Nathaniel Butter,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
4,2824187,NaN,NaN,"Courant Newes out of Italy, Germany, Bohemia, ...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,George Veseler,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24922,15756576,33834.0,NaN,Weekend herald|Weekend herald (Crawley),NaN,NaN,NaN,Horsham,England,NaN,...,NaN,NaN,NaN,Weekly,Sussex Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24923,15806219,33865.0,NaN,"Weekly gazette|Weekly gazette (Dore, Totley, E...","Dore, Totley, Ecclesall and Nether Edge edition",NaN,Continued by: Sheffield weekly gazette (South ...,Sheffield,England,NaN,...,2012,NaN,2012.0,Weekly,Sheffield Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24924,17575912,NaN,NaN,Workers' daily,Weekend edition,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Daily,Necessity for Change Institute of Marxist-Leni...,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24925,2851661,NaN,NaN,"'Written Postscripts,' in MS, to a number of t...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24926,7895491,NaN,NaN,XIN JIE XIAN|ZONEAST,NaN,NaN,NaN,NaN,United Kingdom,NaN,...,NaN,NaN,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [125]:
df.head()

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
0,2824188,NaN,NaN,"Corante, or, Newes from Italy and Germanie (It...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Broer Ianson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
1,2824189,NaN,NaN,"Corante, or, Newes from Italy, Germanie, Hunga...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Broer Ionson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
2,2834274,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,The Hague,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Adrian Clarke,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
3,2841953,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,London,England,NaN,...,1621,1621.0,1621.0,NaN,N. B|Nathaniel Butter,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
4,2824187,NaN,NaN,"Courant Newes out of Italy, Germany, Bohemia, ...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,George Veseler,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [126]:
df.tail()

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
24922,15756576,33834.0,NaN,Weekend herald|Weekend herald (Crawley),NaN,NaN,NaN,Horsham,England,NaN,...,NaN,NaN,NaN,Weekly,Sussex Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24923,15806219,33865.0,NaN,"Weekly gazette|Weekly gazette (Dore, Totley, E...","Dore, Totley, Ecclesall and Nether Edge edition",NaN,Continued by: Sheffield weekly gazette (South ...,Sheffield,England,NaN,...,2012,NaN,2012.0,Weekly,Sheffield Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24924,17575912,NaN,NaN,Workers' daily,Weekend edition,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Daily,Necessity for Change Institute of Marxist-Leni...,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24925,2851661,NaN,NaN,"'Written Postscripts,' in MS, to a number of t...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24926,7895491,NaN,NaN,XIN JIE XIAN|ZONEAST,NaN,NaN,NaN,NaN,United Kingdom,NaN,...,NaN,NaN,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [127]:
df.shape

(24927, 24)

In [ ]:
# indexing

In [43]:
df['country_of_publication']

0        The Netherlands
1        The Netherlands
2        The Netherlands
3                England
4        The Netherlands
              ...
24922            England
24923            England
24924            England
24925            England
24926     United Kingdom
Name: country_of_publication, Length: 24927, dtype: object

In [ ]:
# selecting data

In [40]:
# Counting

In [44]:
df['country_of_publication'].value_counts()

England                                         20465
Scotland                                         1778
Ireland                                          1050
Wales                                            1019
Northern Ireland                                  415
England|Wales                                      58
Bermuda Islands                                    24
England|Scotland                                   13
England|United Kingdom Miscellaneous Islands       10
England|Ireland|Northern Ireland                   10
England|Ireland                                    10
Saint Helena                                        9
Gibraltar                                           8
England|Jamaica                                     7
England|United Kingdom                              7
England|United States of America                    5
The Netherlands                                     4
Montserrat                                          3
Falkland Islands                                    3
England|South Africa                                3
England|Switzerland                                 3
England|Malta                                       2
England|Iran                                        2
England|Saudi Arabia                                2
England|India                                       2
England|Hong Kong                                   1
England|Poland                                      1
England|Poland|Russia                               1
England|Northern Ireland                            1
Scotland|United Kingdom                             1
Cayman Islands                                      1
England|New Zealand                                 1
England|Nicaragua                                   1
Ireland|United States of America                    1
United Kingdom Miscellaneous Islands                1
England|Netherlands                                 1
United Kingdom                                      1
England|Zimbabwe                                    1
Northern Ireland|Wales                              1
India|United Kingdom                                1
Name: country_of_publication, dtype: int64

# Selecting by condition

In [128]:
df['country_of_publication']=='England'

0        False
1        False
2        False
3         True
4        False
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
24897    False
24898    False
24899     True
24900     True
24901     True
24902     True
24903     True
24904     True
24905     True
24906     True
24907     True
24908     True
24909     True
24910    False
24911     True
24912     True
24913     True
24914     True
24915     True
24916     True
24917     True
24918     True
24919     True
24920     True
24921     True
24922     True
24923     True
24924     True
24925     True
24926    False
Name: country_of_publication, Length: 24927, dtype: bool

using as an index

In [11]:
is_england = df['country_of_publication']=='England'

In [12]:
df[is_england].head()

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
3,2841953,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,London,England,NaN,...,1621,1621.0,1621.0,NaN,N. B|Nathaniel Butter,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
5,2852602,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
6,2852624,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
7,2852630,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
8,2852631,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [131]:
# In one go

In [132]:
df[df['country_of_publication']=='England']

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
3,2841953,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,London,England,NaN,...,1621,1621.0,1621.0,NaN,N. B|Nathaniel Butter,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
5,2852602,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
6,2852624,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
7,2852630,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
8,2852631,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
9,2852632,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
10,2852633,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
11,2852634,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
12,2856275,NaN,NaN,"Weekely Newes from Italy, Germanie, Hungaria, ...",NaN,NaN,NaN,London,England,London,...,1622,1622.0,1622.0,NaN,I. D. for Nicholas Bourne & Thomas Archer,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
13,2852609,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
14,2852610,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
15,2852611,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
16,2852612,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
17,2852614,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
18,2852615,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
19,2852616,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
20,2852617,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
21,2852618,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
22,2852619,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
23,2852620,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24,2852621,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
25,2852622,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
26,2852623,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
27,2852625,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
28,2852626,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
29,2852627,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
30,2852628,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
31,2852629,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
32,2852635,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,1623.0,1623.0,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
33,2852659,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1625,1625.0,1625.0,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24891,8568138,NaN,NaN,OCIS NEWS - ARABIC EDITION,NaN,NaN,NaN,NaN,England,NaN,...,NaN,NaN,NaN,Semi-annual,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24892,7898811,NaN,NaN,On the go|On the go (Watford)|On the go (Watfo...,NaN,NaN,NaN,Watford,England,NaN,...,NaN,NaN,NaN,NaN,Spot on Advertising,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24893,15705190,NaN,NaN,"Park life|Park life (London, England)|Park lif...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Monthly,Olympic Delivery Authority,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24894,15445031,33630.0,NaN,Pirate|The Penwith pirate,NaN,NaN,Continued by: West Cornwall packet (ISSN: 2045...,Falmouth,England,NaN,...,2010,NaN,2010.0,Weekly,Newsquest|Southern,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24899,13275815,NaN,NaN,Princetown & Tavistock times gazette|Princetow...,NaN,NaN,Continued by: Princetown times gazette (ISSN: ...,Tavistock,England,NaN,...,NaN,NaN,NaN,Weekly,Tavistock Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24900,18836618,NaN,NaN,Princetown times gazette|Times,NaN,Continues: Princetown & Tavistock times gazett...,NaN,Tavistock,England,NaN,...,NaN,NaN,NaN,Weekly,Tavistock Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24901,15113405,971.0,NaN,Richmond informer,NaN,Continues: Richmond & Twickenham Informer,NaN,NaN,England,London,...,2011,NaN,2011.0,Weekly,NaN,NaN,- 2011 September,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24902,17028113,NaN,NaN,"Rugby paper (Wimbledon, London, England). Wels...",Welsh edition,NaN,NaN,Wimbledon,England,NaN,...,NaN,NaN,NaN,Weekly,Rugby Paper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24903,14610074,NaN,NaN,S?pt?hika patrik?|Weekly Potrika,NaN,NaN,Continued by: Br??enera s?pt?hika patrik?,London,England,London,...,2001,NaN,2001.0,Weekly,Weekly Potrika,NaN,May 22 (issue 207) - 2001 May 28,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24904,17581552,NaN,NaN,Shmittah news,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,Keren Hashviis,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24905,14928086,33439.0,NaN,Skyport|Skyport (Stansted),Stansted edition,NaN,NaN,Hounslow,England,NaN,...,NaN,NaN,NaN,Monthly,Trinity Mirror,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24906,15593789,33763.0,NaN,Stone post,NaN,NaN,NaN,Stafford,England,NaN,...,NaN,NaN,NaN,Weekly,Trinity Mirror,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24907,13252230,NaN,NaN,"Student times (London, England)|Student times ...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Bi-weekly|Fortnightly,Sugar Media,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24908,15211321,NaN,NaN,Sun post|Tai yang bao (Milton Keynes)|Tai yang...,NaN,NaN,NaN,Milton Keynes,England,NaN,...,NaN,NaN,NaN,Weekly,Sun Post,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24909,15403733,NaN,NaN,Surrey comet (2009)|Surrey comet (Kingston upo...,County edition,Continues: Elmbridge comet. 20 May 2016- (ISSN...,Continued by: Elmbridge comet. 15 Aug. 2014- (...,London|Weybridge,England,London,...,NaN,NaN,NaN,Weekly,Newsquest,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24911,15652959,NaN,NaN,The Hayle times,NaN,NaN,NaN,St Ives,England,NaN,...,NaN,NaN,NaN,Weekly,St. Ives Printing & Publishing,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24912,15608883,NaN,NaN,The Korea post,NaN,NaN,NaN,New Malden,England,NaN,...,NaN,NaN,NaN,NaN,Korea Post,NaN,2005 August -,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24913,14055275,NaN,NaN,The North East miner : newspaper of the Nation...,NaN,NaN,NaN,Durham,England,NaN,...,NaN,NaN,NaN,Quarterly,NUM North East Area,NaN,1988 December -,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24914,14054402,NaN,NaN,The Nottinghamshire miner : newspaper of the U...,NaN,NaN,NaN,Mansfield,England,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24915,15782886,NaN,NaN,The Stockport review,NaN,Continues: Review (Stockport Metropolitan Boro...,NaN,Stockport,England,NaN,...,NaN,NaN,NaN,NaN,Stockport Council,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24916,17774438,NaN,NaN,The university paper|The university paper (Lon...,Aberaeron and New Quay edition,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Monthly,UniPaper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24917,16861602,NaN,NaN,The university paper|The university paper (Not...,Nottingham edition,NaN,NaN,Nottingham,England,NaN,...,NaN,NaN,NaN,Monthly,University Paper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24918,15897335,NaN,NaN,Udhayan|Utaya? = The Udhayan,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,Global News Media,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24919,15211402,NaN,NaN,UK-Chinese times|Ying Zhong shi bao|Ying-Zhong...,NaN,NaN,NaN,Milton Keynes,England,NaN,...,NaN,NaN,NaN,Weekly,Omega News Group,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24920,15398341,NaN,NaN,Vision,NaN,NaN,NaN,Preston,England,NaN,...,NaN,NaN,NaN,NaN,Lancashire County Council,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24921,7202500,NaN,NaN,Voice of Bahrain|?awt al-Ba?rayn|?awt al-Ba?ra...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24922,15756576,33834.0,NaN,Weekend herald|Weekend herald (Crawley),NaN,NaN,NaN,Horsham,England,NaN,...,NaN,NaN,NaN,Weekly,Sussex Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24923,15806219,33865.0,NaN,"Weekly gazette|Weekly gazette (Dore, Totley, E...","Dore, Totley, Ecclesall and Nether Edge edition",NaN,Continued by: Sheffield weekly gazette (South ...,Sheffield,England,NaN,...,2012,NaN,2012.0,Weekly,Sheffield Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24924,17575912,NaN,NaN,Workers' daily,Weekend edition,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Daily,Necessity for Change Institute of Marxist-Leni...,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24925,2851661,NaN,NaN,"'Written Postscripts,' in MS, to a number of t...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [133]:
# conditionals

In [134]:
years = [1968, 1970, 1989,2000, 2008, 2003]

# reminder of for loops

- how do we print out each year?

In [135]:
# how to print everything upto 2000
for year in years:
    if year < 2000:
        print(year)

1968
1970
1989

In [136]:
# up to and including?

In [14]:
# 
print(1968 == 1968)
print(1968 != 1649)
'the' not in ['and', 'or']

True
True

True

In [138]:
not_london = df['place_of_publication']!='London'
not_london[:5]

0     True
1     True
2     True
3    False
4     True
Name: place_of_publication, dtype: bool

In [139]:
# index by dot
df.place_of_publication

0               Amsterdam
1               Amsterdam
2               The Hague
3                  London
4               Amsterdam
5                  London
6                  London
7                  London
8                  London
9                  London
10                 London
11                 London
12                 London
13                 London
14                 London
15                 London
16                 London
17                 London
18                 London
19                 London
20                 London
21                 London
22                 London
23                 London
24                 London
25                 London
26                 London
27                 London
28                 London
29                 London
               ...
24897           Inverness
24898            Aberdeen
24899           Tavistock
24900           Tavistock
24901                 NaN
24902           Wimbledon
24903              London
24904              London
24905            Hounslow
24906            Stafford
24907              London
24908       Milton Keynes
24909    London|Weybridge
24910              Dublin
24911             St Ives
24912          New Malden
24913              Durham
24914           Mansfield
24915           Stockport
24916              London
24917          Nottingham
24918              London
24919       Milton Keynes
24920             Preston
24921              London
24922             Horsham
24923           Sheffield
24924              London
24925              London
24926                 NaN
Name: place_of_publication, Length: 24927, dtype: object

In [140]:
# indexing with a list 

london = ['London|Weybridge', 'London']

df.place_of_publication[~df.place_of_publication.isin(london)]

0                Amsterdam
1                Amsterdam
2                The Hague
4                Amsterdam
57                  Oxford
60                  Oxford
64                  Oxford
111            Cork|London
117      Corck|Cork|London
155                 Oxford
178       London|Rotterdam
185                Haerlem
206                 Dublin
215                 Dublin
216                 Dublin
219         Haarlem|London
236                    NaN
237                    NaN
246                    NaN
247                    NaN
249                    NaN
250                    NaN
251                    NaN
253              Edinburgh
257                    NaN
258                    NaN
259                    NaN
260                    NaN
261                    NaN
262                    NaN
               ...
24887           Darlington
24888    Barrow-in-Furness
24889    Barrow-in-Furness
24890                 Oban
24891                  NaN
24892              Watford
24894             Falmouth
24895            Inverness
24896            Inverness
24897            Inverness
24898             Aberdeen
24899            Tavistock
24900            Tavistock
24901                  NaN
24902            Wimbledon
24905             Hounslow
24906             Stafford
24908        Milton Keynes
24910               Dublin
24911              St Ives
24912           New Malden
24913               Durham
24914            Mansfield
24915            Stockport
24917           Nottingham
24919        Milton Keynes
24920              Preston
24922              Horsham
24923            Sheffield
24926                  NaN
Name: place_of_publication, Length: 23999, dtype: object

still have London appearing

In [141]:
df.place_of_publication.str.contains('London')

0        False
1        False
2        False
3         True
4        False
5         True
6         True
7         True
8         True
9         True
10        True
11        True
12        True
13        True
14        True
15        True
16        True
17        True
18        True
19        True
20        True
21        True
22        True
23        True
24        True
25        True
26        True
27        True
28        True
29        True
         ...
24897    False
24898    False
24899    False
24900    False
24901      NaN
24902    False
24903     True
24904     True
24905    False
24906    False
24907     True
24908    False
24909     True
24910    False
24911    False
24912    False
24913    False
24914    False
24915    False
24916     True
24917    False
24918     True
24919    False
24920    False
24921     True
24922    False
24923    False
24924     True
24925     True
24926      NaN
Name: place_of_publication, Length: 24927, dtype: object

In [142]:
london = df.place_of_publication.str.contains('London', regex=True)

In [143]:
df[london]

ValueError: cannot index with vector containing NA / NaN values

https://stackoverflow.com/questions/28311655/ignoring-nans-with-str-contains

In [144]:
london = df.place_of_publication.str.contains('London', regex=True, na=False)

In [145]:
df[london]

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
3,2841953,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,London,England,NaN,...,1621,1621.0,1621.0,NaN,N. B|Nathaniel Butter,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
5,2852602,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
6,2852624,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
7,2852630,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
8,2852631,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
9,2852632,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
10,2852633,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
11,2852634,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1622,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
12,2856275,NaN,NaN,"Weekely Newes from Italy, Germanie, Hungaria, ...",NaN,NaN,NaN,London,England,London,...,1622,1622.0,1622.0,NaN,I. D. for Nicholas Bourne & Thomas Archer,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
13,2852609,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
14,2852610,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
15,2852611,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
16,2852612,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
17,2852614,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
18,2852615,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
19,2852616,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
20,2852617,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
21,2852618,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
22,2852619,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
23,2852620,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24,2852621,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
25,2852622,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
26,2852623,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
27,2852625,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
28,2852626,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
29,2852627,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
30,2852628,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
31,2852629,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
32,2852635,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1623,1623.0,1623.0,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
33,2852659,NaN,NaN,A Relation of the late Occurrents which haue h...,NaN,NaN,NaN,London,England,London,...,1625,1625.0,1625.0,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24815,14632633,NaN,NaN,"B.L.F. news|Grass roots (London, England : 197...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Monthly,Grassroots,NaN,-1971,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24816,12904766,NaN,NaN,Bangla express|B??l? eksapresa|S?pt?hika b??l?...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Weekly,Surma News Group,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24845,2830752,NaN,NaN,Darlington & Stockton Times : Farming informat...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,Provincial Newspapers|Westminister Press,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24846,8632737,NaN,NaN,Dekho! : journal of the Burma Star Association,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Tri-annual,Burma Star Association,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24848,11459749,NaN,NaN,Des Pardes weekly|Pardes weekly,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Weekly,Multimedia International,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24851,11829661,NaN,NaN,Eelakesari|??ak?cari = Eelakesari,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Bi-weekly|Fortnightly,Eelakesari,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24852,13947717,33050.0,NaN,Eleutheria,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,Eleftheria,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24854,7887881,NaN,NaN,EU Chinese journal|UK Chinese journal|Xin Ou H...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Semi-monthly|Weekly,EU Chinese Journal|UK Journals,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24855,13827968,NaN,NaN,Euro Bangla|EuroBangla|EuroB??l?|EuroB??l? : E...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Weekly,EuroBangla,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24856,2843991,NaN,NaN,Evening chronicle|Express|The Express and Even...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Tri-weekly,J. Vint,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24862,15667845,NaN,NaN,Fight (Socialist Worker Youth Movement (Organi...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,Socialist Worker,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24865,15177917,NaN,NaN,Freedom news|Freedom news special,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Fortnightly (- 1972)|Weekly|Weekly (1973 -),Black Panther Movement|Black Workers Movement,NaN,"Issue for (March 26, 1973) lacks numbering",NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24869,14645969,NaN,NaN,Hao jiao = Herald|Herald|Herald Europe|Herald UK,"Ying guo ban =, UK edition",NaN,NaN,London|New York,England|United States of America,London,...,NaN,NaN,NaN,Bi-monthly,Chinese Christian Herald Crusades,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24870,2850565,NaN,NaN,Heathcote's intelligence|The original London p...,NaN,"Continues: London post (London, England : 1717)",NaN,London,England,London,...,NaN,NaN,NaN,Tri-weekly,Baldwin's Gardens|K. Heathcote,NaN,1719 October 7 - 1738 October 18|Issue numberi...,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24871,2847895,NaN,NaN,Impartial intelligencer|Parker's London news|P...,NaN,"Continues: London news, or, The impartial inte...",Continued by: Parker's penny post,London,England,NaN,...,1725,NaN,1725.0,Tri-annual|Tri-weekly,G. Parker,NaN,- 1725 April 24-25 (number 1005),BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24872,17041642,NaN,NaN,In review : the national church institutions w...,NaN,NaN,NaN,London,England,London,...,2017,NaN,2017.0,Monthly|Semi-annual,Church of England,NaN,-2017,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24875,12916175,NaN,NaN,Kasmo|Kasmo newspaper,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Weekly,Kasmo Newspaper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24878,14574232,NaN,NaN,La??a? kural = Voice of London Tamils|Voice of...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Bi-monthly,Voice of London Tamils,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24883,11457554,NaN,NaN,New Zealand news UK|New Zealand news United Ki...,NaN,Continues: New Zealand news (ISSN: 0028-8500),NaN,London,England,NaN,...,2005,NaN,2005.0,Weekly,Commonwealth Pub|New Zealand News,NaN,- 2005 March 16,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24886,16514098,NaN,NaN,Nobahar,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Weekly,Golbahar,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24893,15705190,NaN,NaN,"Park life|Park life (London, England)|Park lif...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Monthly,Olympic Delivery Authority,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24903,14610074,NaN,NaN,S?pt?hika patrik?|Weekly Potrika,NaN,NaN,Continued by: Br??enera s?pt?hika patrik?,London,England,London,...,2001,NaN,2001.0,Weekly,Weekly Potrika,NaN,May 22 (issue 207) - 2001 May 28,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24904,17581552,NaN,NaN,Shmittah news,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,Keren Hashviis,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24907,13252230,NaN,NaN,"Student times (London, England)|Student times ...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Bi-weekly|Fortnightly,Sugar Media,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24909,15403733,NaN,NaN,Surrey comet (2009)|Surrey comet (Kingston upo...,County edition,Continues: Elmbridge comet. 20 May 2016- (ISSN...,Continued by: Elmbridge comet. 15 Aug. 2014- (...,London|Weybridge,England,London,...,NaN,NaN,NaN,Weekly,Newsquest,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24916,17774438,NaN,NaN,The university paper|The university paper (Lon...,Aberaeron and New Quay edition,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Monthly,UniPaper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24918,15897335,NaN,NaN,Udhayan|Utaya? = The Udhayan,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,Global News Media,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24921,7202500,NaN,NaN,Voice of Bahrain|?awt al-Ba?rayn|?awt al-Ba?ra...,NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24924,17575912,NaN,NaN,Workers' daily,Weekend edition,NaN,NaN,London,England,London,...,NaN,NaN,NaN,Daily,Necessity for Change Institute of Marxist-Leni...,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24925,2851661,NaN,NaN,"'Written Postscripts,' in MS, to a number of t...",NaN,NaN,NaN,London,England,London,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [146]:
df[~df['place_of_publication'].str.contains('London', regex=True, na=False)]

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
0,2824188,NaN,NaN,"Corante, or, Newes from Italy and Germanie (It...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Broer Ianson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
1,2824189,NaN,NaN,"Corante, or, Newes from Italy, Germanie, Hunga...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Broer Ionson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
2,2834274,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,The Hague,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Adrian Clarke,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
4,2824187,NaN,NaN,"Courant Newes out of Italy, Germany, Bohemia, ...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,George Veseler,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
57,2862428,NaN,NaN,"An answer to Mercurius Aulicus; or, his commun...",NaN,NaN,NaN,Oxford,England,NaN,...,1643,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
60,2862424,NaN,NaN,"Mercurius Aulicus. A Diurnall, communicating t...",NaN,NaN,NaN,Oxford,England,NaN,...,1645,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
64,2862431,NaN,NaN,Mercurius Rusticus; or the Countries complaint...,NaN,NaN,NaN,Oxford,England,NaN,...,1643,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
155,13774146,NaN,NaN,Oxford gazette,NaN,NaN,London gazette,Oxford,England,NaN,...,1666,1665.0,1666.0,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
185,2834200,NaN,NaN,Haerlemsche Courant,NaN,NaN,NaN,Haerlem,England,NaN,...,1681,1681.0,1681.0,NaN,A. Casteleyn,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
206,13919024,23007.0,NaN,The News-Letter,NaN,NaN,NaN,Dublin,Ireland,Dublin (Ireland : County),...,1685,1685.0,1685.0,NaN,NaN,16 January -29 December 1685,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
215,13919025,23008.0,NaN,Dublin Intelligence,NaN,NaN,NaN,Dublin,Ireland,Dublin (Ireland : County),...,1693,1690.0,1690.0,NaN,NaN,no 1-25; 128; 130 (30 September 1690-17 March ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
216,2831247,NaN,NaN,Dublin Intelligence. Published by Authority. N...,NaN,NaN,NaN,Dublin,Ireland,Dublin (Ireland : County),...,1693,1690.0,1693.0,NaN,Robert Thornton,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
236,13919026,11591.0,NaN,"The Flying Post: or, the Post-master",NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1712,1699.0,1712.0,NaN,NaN,7 March 1699-21 November 1712,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
237,13893470,4558.0,NaN,The Edinburgh Gazette,NaN,NaN,NaN,NaN,Scotland,Lothian,...,1699,1699.0,1699.0,NaN,NaN,no 60 (18-21 September 1699),NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
246,13919027,23010.0,NaN,Dublin Post (Cornelius Carter),NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1702,1702.0,1702.0,NaN,NaN,20 November 1702,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
247,13919028,11527.0,NaN,"The Dublin Intelligence, etc|The Dublin Intell...",NaN,NaN,"Continued by: Old Dublin Intelligence, Irish J...",NaN,Ireland,Dublin (Ireland : County),...,1728,1702.0,1728.0,NaN,NaN,9 June 1702-10 December 1728,NaN,BNA,http://www.britishnewspaperarchive.co.uk/searc...,http://primocat.bl.uk/F?func=direct&local_base...
249,13919030,11514.0,NaN,The Dublin Courant : Containing news both fore...,NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1726,1703.0,1726.0,NaN,NaN,8 April 1703; 26 May 1705; 9 June 1716-17 Augu...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
250,13924709,26091.0,2531.0,"Impartial Occurrences, Foreign and Domestick",NaN,NaN,Continued by: Pue's Occurrences. vol.11. [no.5...,NaN,Ireland,Dublin (Ireland : County),...,1706,1704.0,1706.0,NaN,NaN,"no 61 [supplement only],63-vol 2 no 7 (26 Dece...",NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
251,13919031,23014.0,NaN,Whalley's Flying Post,NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1704,1704.0,1704.0,NaN,NaN,14 February 1704,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
253,13909873,17455.0,1016.0,The Edinburgh courant,NaN,NaN,NaN,Edinburgh,Scotland,Lothian,...,1708,1705.0,1710.0,Monthly,A. Anderson|J. Reid Junior|J. Watson,NaN,1705 February 14-19 (number 1) - 1710 March 17...,BNA,http://www.britishnewspaperarchive.co.uk/searc...,http://primocat.bl.uk/F?func=direct&local_base...
257,13919032,23015.0,NaN,The Dublin Gazette,NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1744,1706.0,1744.0,NaN,NaN,5 November 1706-10 April 1744,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
258,13900067,10027.0,NaN,The Norwich Post,NaN,NaN,NaN,NaN,England,Norfolk,...,1712,1707.0,1712.0,NaN,NaN,"no 287,349,351,352,390,404,413,594 (26 April 1...",NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
259,13901958,11527.0,1380.0,"The Dublin Intelligence, etc|The Dublin Intell...",NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1712,1708.0,1712.0,NaN,NaN,"no 491,497,500,533,538,543,544,560,566,574-577...",NaN,BNA,http://www.britishnewspaperarchive.co.uk/searc...,http://primocat.bl.uk/F?func=direct&local_base...
260,13919034,11592.0,NaN,"The Flying Post, or, the Post-master's news",NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1710,1708.0,1710.0,NaN,NaN,12 April 1708-10 March 1710,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
261,13902051,11591.0,NaN,"The Flying Post: or, the Post-master",NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1710,1708.0,1710.0,NaN,NaN,"6 January,3 June,2,24 August,4,23,29,30 Septem...",NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
262,13898911,9130.0,NaN,"The Post-Man, and The Historical Account, etc",NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1723,1708.0,1723.0,NaN,NaN,"no 19,20,47,105,102 [sic],146,331 (8,15 Septem...",NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
263,13920803,17455.0,NaN,The Edinburgh courant,NaN,NaN,NaN,Edinburgh,Scotland,Lothian,...,1708,1705.0,1710.0,Semi-weekly,A. Anderson|J. Reid Junior|J. Watson,NaN,1705 February 14-19 (number 1) - 1710 March 17...,BNA,http://www.britishnewspaperarchive.co.uk/searc...,http://primocat.bl.uk/F?func=direct&local_base...
264,13902019,11567.0,NaN,Edward Waters's Protestant Dublin Intelligence...,NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1709,1709.0,1709.0,NaN,NaN,"no 31,43 (26 February,16 April 1709)",NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
265,13902052,11592.0,NaN,"The Flying Post, or, the Post-master's news",NaN,NaN,NaN,NaN,Ireland,Dublin (Ireland : County),...,1710,1709.0,1710.0,NaN,NaN,"28 April,1 June 1709; 6 February 1710",NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
266,13909883,17465.0,NaN,The Edinburgh Flying Post,NaN,NaN,NaN,NaN,Scotland,Lothian,...,1709,1709.0,1709.0,NaN,NaN,no 77 (11/13 May 1709),NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24887,15971499,NaN,NaN,Northern echo (Darlington edition. 2011)|The N...,Darlington edition,NaN,Continued in part by: Northern echo (County Du...,Darlington,England,NaN,...,2014,NaN,2014.0,Daily,Newsquest|North East,NaN,- 2014 July,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24888,16909998,NaN,NaN,North-west evening mail|North-west evening mai...,Millom edition,Continues: North-west evening mail (ISSN: 0964...,Continued by: Mail. Millom & S. Copeland editi...,Barrow-in-Furness,England,NaN,...,2017,NaN,2017.0,Daily,Furness Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24889,16910000,NaN,NaN,North-west evening mail|North-west evening mai...,Ulverston edition,Continues: North-west evening mail (ISSN: 0964...,Continued by: Mail. Ulverston & S. Lakes editi...,Barrow-in-Furness,England,NaN,...,NaN,NaN,NaN,Daily,Furness Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24890,15440972,33623.0,NaN,Oban times|Oban times & West Highland times (L...,Oban edition,NaN,NaN,Oban,Scotland,NaN,...,NaN,NaN,NaN,Weekly,Oban Times,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24891,8568138,NaN,NaN,OCIS NEWS - ARABIC EDITION,NaN,NaN,NaN,NaN,England,NaN,...,NaN,NaN,NaN,Semi-annual,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24892,7898811,NaN,NaN,On the go|On the go (Watford)|On the go (Watfo...,NaN,NaN,NaN,Watford,England,NaN,...,NaN,NaN,NaN,NaN,Spot on Advertising,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24894,15445031,33630.0,NaN,Pirate|The Penwith pirate,NaN,NaN,Continued by: West Cornwall packet (ISSN: 2045...,Falmouth,England,NaN,...,2010,NaN,2010.0,Weekly,Newsquest|Southern,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24895,16150219,NaN,NaN,Press and journal (Highlands & Islands edition...,Highlands and Islands edition,Continues: Press and journal (ISSN: 0962-2306),NaN,Inverness,Scotland,NaN,...,NaN,NaN,NaN,Daily,Press & Journal,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24896,16150256,NaN,NaN,Press and journal (Inverness edition)|The pres...,Inverness edition,Continues: Press and journal (ISSN: 0962-2306),NaN,Inverness,Scotland,NaN,...,NaN,NaN,NaN,Daily,Press & Journal,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24897,16150195,NaN,NaN,Press and journal (Moray edition)|The press an...,Moray edition,Continues: Press and journal (ISSN: 0962-2306),NaN,Inverness,Scotland,NaN,...,NaN,NaN,NaN,Daily,Press & Journal,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24898,16150101,NaN,NaN,Press and journal (North-East edition)|The pre...,North-east edition,Continues: Press and journal (ISSN: 0962-2306),NaN,Aberdeen,Scotland,NaN,...,NaN,NaN,NaN,Daily,Press & Journal,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24899,13275815,NaN,NaN,Princetown & Tavistock times gazette|Princetow...,NaN,NaN,Continued by: Princetown times gazette (ISSN: ...,Tavistock,England,NaN,...,NaN,NaN,NaN,Weekly,Tavistock Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24900,18836618,NaN,NaN,Princetown times gazette|Times,NaN,Continues: Princetown & Tavistock times gazett...,NaN,Tavistock,England,NaN,...,NaN,NaN,NaN,Weekly,Tavistock Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24901,15113405,971.0,NaN,Richmond informer,NaN,Continues: Richmond & Twickenham Informer,NaN,NaN,England,London,...,2011,NaN,2011.0,Weekly,NaN,NaN,- 2011 September,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24902,17028113,NaN,NaN,"Rugby paper (Wimbledon, London, England). Wels...",Welsh edition,NaN,NaN,Wimbledon,England,NaN,...,NaN,NaN,NaN,Weekly,Rugby Paper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24905,14928086,33439.0,NaN,Skyport|Skyport (Stansted),Stansted edition,NaN,NaN,Hounslow,England,NaN,...,NaN,NaN,NaN,Monthly,Trinity Mirror,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24906,15593789,33763.0,NaN,Stone post,NaN,NaN,NaN,Stafford,England,NaN,...,NaN,NaN,NaN,Weekly,Trinity Mirror,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24908,15211321,NaN,NaN,Sun post|Tai yang bao (Milton Keynes)|Tai yang...,NaN,NaN,NaN,Milton Keynes,England,NaN,...,NaN,NaN,NaN,Weekly,Sun Post,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24910,15553870,NaN,NaN,Sveiks!|Sveiks! (Dublin),NaN,NaN,NaN,Dublin,Ireland,NaN,...,NaN,NaN,NaN,Bi-weekly|Fortnightly,Sveiks,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24911,15652959,NaN,NaN,The Hayle times,NaN,NaN,NaN,St Ives,England,NaN,...,NaN,NaN,NaN,Weekly,St. Ives Printing & Publishing,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24912,15608883,NaN,NaN,The Korea post,NaN,NaN,NaN,New Malden,England,NaN,...,NaN,NaN,NaN,NaN,Korea Post,NaN,2005 August -,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24913,14055275,NaN,NaN,The North East miner : newspaper of the Nation...,NaN,NaN,NaN,Durham,England,NaN,...,NaN,NaN,NaN,Quarterly,NUM North East Area,NaN,1988 December -,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24914,14054402,NaN,NaN,The Nottinghamshire miner : newspaper of the U...,NaN,NaN,NaN,Mansfield,England,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24915,15782886,NaN,NaN,The Stockport review,NaN,Continues: Review (Stockport Metropolitan Boro...,NaN,Stockport,England,NaN,...,NaN,NaN,NaN,NaN,Stockport Council,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24917,16861602,NaN,NaN,The university paper|The university paper (Not...,Nottingham edition,NaN,NaN,Nottingham,England,NaN,...,NaN,NaN,NaN,Monthly,University Paper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24919,15211402,NaN,NaN,UK-Chinese times|Ying Zhong shi bao|Ying-Zhong...,NaN,NaN,NaN,Milton Keynes,England,NaN,...,NaN,NaN,NaN,Weekly,Omega News Group,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24920,15398341,NaN,NaN,Vision,NaN,NaN,NaN,Preston,England,NaN,...,NaN,NaN,NaN,NaN,Lancashire County Council,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24922,15756576,33834.0,NaN,Weekend herald|Weekend herald (Crawley),NaN,NaN,NaN,Horsham,England,NaN,...,NaN,NaN,NaN,Weekly,Sussex Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24923,15806219,33865.0,NaN,"Weekly gazette|Weekly gazette (Dore, Totley, E...","Dore, Totley, Ecclesall and Nether Edge edition",NaN,Continued by: Sheffield weekly gazette (South ...,Sheffield,England,NaN,...,2012,NaN,2012.0,Weekly,Sheffield Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24926,7895491,NaN,NaN,XIN JIE XIAN|ZONEAST,NaN,NaN,NaN,NaN,United Kingdom,NaN,...,NaN,NaN,NaN,Monthly,NaN,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [47]:
df_no_london = df[~df['place_of_publication'].str.contains('London', regex=True, na=False)]

In [48]:
df_no_london.head()

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
0,2824188,NaN,NaN,"Corante, or, Newes from Italy and Germanie (It...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Broer Ianson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
1,2824189,NaN,NaN,"Corante, or, Newes from Italy, Germanie, Hunga...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Broer Ionson,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
2,2834274,NaN,NaN,"Corante, or, Newes from Italy, Germany, Hungar...",NaN,NaN,NaN,The Hague,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,Adrian Clarke,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
4,2824187,NaN,NaN,"Courant Newes out of Italy, Germany, Bohemia, ...",NaN,NaN,NaN,Amsterdam,The Netherlands,NaN,...,1621,1621.0,NaN,NaN,George Veseler,The earliest English-language serialised news ...,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
57,2862428,NaN,NaN,"An answer to Mercurius Aulicus; or, his commun...",NaN,NaN,NaN,Oxford,England,NaN,...,1643,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [49]:
df_no_london.shape

(23888, 24)

In [50]:
df_no_london[df_no_london.country_of_publication=='England']

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
57,2862428,NaN,NaN,"An answer to Mercurius Aulicus; or, his commun...",NaN,NaN,NaN,Oxford,England,NaN,...,1643,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
60,2862424,NaN,NaN,"Mercurius Aulicus. A Diurnall, communicating t...",NaN,NaN,NaN,Oxford,England,NaN,...,1645,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
64,2862431,NaN,NaN,Mercurius Rusticus; or the Countries complaint...,NaN,NaN,NaN,Oxford,England,NaN,...,1643,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
155,13774146,NaN,NaN,Oxford gazette,NaN,NaN,London gazette,Oxford,England,NaN,...,1666,1665.0,1666.0,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
185,2834200,NaN,NaN,Haerlemsche Courant,NaN,NaN,NaN,Haerlem,England,NaN,...,1681,1681.0,1681.0,NaN,A. Casteleyn,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24917,16861602,NaN,NaN,The university paper|The university paper (Not...,Nottingham edition,NaN,NaN,Nottingham,England,NaN,...,NaN,NaN,NaN,Monthly,University Paper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24919,15211402,NaN,NaN,UK-Chinese times|Ying Zhong shi bao|Ying-Zhong...,NaN,NaN,NaN,Milton Keynes,England,NaN,...,NaN,NaN,NaN,Weekly,Omega News Group,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24920,15398341,NaN,NaN,Vision,NaN,NaN,NaN,Preston,England,NaN,...,NaN,NaN,NaN,NaN,Lancashire County Council,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24922,15756576,33834.0,NaN,Weekend herald|Weekend herald (Crawley),NaN,NaN,NaN,Horsham,England,NaN,...,NaN,NaN,NaN,Weekly,Sussex Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24923,15806219,33865.0,NaN,"Weekly gazette|Weekly gazette (Dore, Totley, E...","Dore, Totley, Ecclesall and Nether Edge edition",NaN,Continued by: Sheffield weekly gazette (South ...,Sheffield,England,NaN,...,2012,NaN,2012.0,Weekly,Sheffield Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [51]:
df_no_london = df_no_london[df_no_london.country_of_publication=='England']

In [52]:
df_no_london

,title_id,nid,nlp,publication_title,edition,preceding_titles,succeeding_titles,place_of_publication,country_of_publication,general_area_of_coverage,...,last_date_held,publication_date_one,publication_date_two,current_publication_frequency,publisher,holdings_more_information,free_text_information_about_dates_of_publication,online_status,link_to_british_newspaper_archive,explore_link
57,2862428,NaN,NaN,"An answer to Mercurius Aulicus; or, his commun...",NaN,NaN,NaN,Oxford,England,NaN,...,1643,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
60,2862424,NaN,NaN,"Mercurius Aulicus. A Diurnall, communicating t...",NaN,NaN,NaN,Oxford,England,NaN,...,1645,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
64,2862431,NaN,NaN,Mercurius Rusticus; or the Countries complaint...,NaN,NaN,NaN,Oxford,England,NaN,...,1643,1643.0,NaN,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
155,13774146,NaN,NaN,Oxford gazette,NaN,NaN,London gazette,Oxford,England,NaN,...,1666,1665.0,1666.0,NaN,NaN,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
185,2834200,NaN,NaN,Haerlemsche Courant,NaN,NaN,NaN,Haerlem,England,NaN,...,1681,1681.0,1681.0,NaN,A. Casteleyn,NaN,NaN,BURNEY,NaN,http://primocat.bl.uk/F?func=direct&local_base...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24917,16861602,NaN,NaN,The university paper|The university paper (Not...,Nottingham edition,NaN,NaN,Nottingham,England,NaN,...,NaN,NaN,NaN,Monthly,University Paper,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24919,15211402,NaN,NaN,UK-Chinese times|Ying Zhong shi bao|Ying-Zhong...,NaN,NaN,NaN,Milton Keynes,England,NaN,...,NaN,NaN,NaN,Weekly,Omega News Group,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24920,15398341,NaN,NaN,Vision,NaN,NaN,NaN,Preston,England,NaN,...,NaN,NaN,NaN,NaN,Lancashire County Council,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24922,15756576,33834.0,NaN,Weekend herald|Weekend herald (Crawley),NaN,NaN,NaN,Horsham,England,NaN,...,NaN,NaN,NaN,Weekly,Sussex Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...
24923,15806219,33865.0,NaN,"Weekly gazette|Weekly gazette (Dore, Totley, E...","Dore, Totley, Ecclesall and Nether Edge edition",NaN,Continued by: Sheffield weekly gazette (South ...,Sheffield,England,NaN,...,2012,NaN,2012.0,Weekly,Sheffield Newspapers,NaN,NaN,NaN,NaN,http://primocat.bl.uk/F?func=direct&local_base...

In [153]:
df_no_london.shape

(19446, 24)

In [53]:
df_no_london.place_of_publication.value_counts()

Birmingham              53
Wolverhampton           51
Bristol                 43
Norwich                 43
Aylesford               40
                        ..
Whitehaven               1
Wallasey                 1
New Milton               1
Salisbury, Wiltshire     1
Bletchley|Luton          1
Name: place_of_publication, Length: 641, dtype: int64

# Saving output

In [155]:
df_no_london.to_csv('no_london.csv')

# fin